* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f1f1bb;
}

.nav {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  margin-left: 80px;
}

.Icon {
  color: #0290ff;
  font-size: 40px;
  margin-right: 3%;
  border-radius: 30px;
}

.nav ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav ul li a {
  text-decoration: none;
}

.navTitle {
  color: rgb(1, 154, 205);
  font-weight: bolder;
  font-size: 1.8rem;
}

.link {
  margin: 10px;
  text-decoration: none;
  color: rgb(85, 83, 83);
  font-size: 18px;
  font-weight: 700;
}

.input {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  line-height: 22px;
  background-color: #fff;
  border: 1px solid #c9c7c7bf;
  padding: 9px 10px;
  border-radius: 4px;
}

input {
  width: 106vh;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 2rem;
}

.add-new-book {
  margin-left: 11px;
}

.add-btn {
  padding: 10px 10px;
  width: 150px;
  background-color: #0290ff;
  color: rgb(245, 245, 245);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.single-book {
  display: flex;
  margin: auto;
  width: 1180px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 0.8rem;
}

.book-container {
  display: grid;
  grid-template-columns: 50% 35% 20%;
  padding: 3rem;
  width: 93%;
  margin: auto;
  transition: transform 250ms;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 1.375rem;
  color: #121212;
}

.author {
  font-size: 0.875rem;
  color: #4386bf;
}

span {
  color: #e8e8e8;
}

.progress-div {
  display: flex;
  gap: 10px;
}

.progres-bar {
  width: 120px;
  height: 130px;
}

.percentage {
  font-size: 2rem;
  color: #121212;
}

.book-status {
  font-size: 0.875rem;
  color: #121212;
}

.last-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.current-chapter {
  font-size: 0.813rem;
  color: #121212;
  font-weight: 300;
}

.chapter {
  font-size: 1rem;
  font-weight: 300;
  color: #121212;
}

.progress-btn {
  border: none;
  font-size: 0.9rem;
  background-color: #0290ff;
  border-radius: 3px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.status-btn {
  padding: 12px;
  font-size: 20px;
  background-color: #4386bf;
  color: white;
  margin: 2% 0 0 5%;
  width: 20%;
}

.underConstruction {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

button {
  border: none;
  color: #4386bf;
  background-color: white;
  cursor: pointer;
}
